<html lang="en">

<head>
    <title>Kids BookStore</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="assets/css/style.css">
    <script src="https://unpkg.com/vue"></script>
</head>

<body>
    <div id="app">
        <div class="jumbotron">

            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item">
                        <img src="assets/images/image0.jpg" alt="Book Store">
                    </div>

                    <div class="item active">
                        <img src="assets/images/image1.png" alt="Book Store">

                    </div>

                </div>

                <!-- Left and right controls -->
                <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                            <span class="sr-only">Previous</span>
                          </a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                            <span class="sr-only">Next</span>
                          </a>
            </div>
        </div>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid text-center">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="index.html">BookStore</a></li>
                    <li class="dropdown-toggle" data-toggle="dropdown"><a href="#">Category</a>
                    </li>
                    <li id="bookId"><a href="books.html">Books</a> </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li data-toggle="modal" data-target="#cart" v-on:click="totalPembayaran()"><a href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i>{{jumlahCart}} Cart</a></li>
                    <li id="signinId" data-toggle="modal" data-target="#signin"><a href="#">Sign In</a></li> ||
                    <li id="registerId" data-toggle="modal" data-target="#register"><a href="#">Register</a></li>
                    <li id="logoutId"><a href="#" @click="logout">Logout</a></li>
                </ul>
                <!-- <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Large Modal</button> -->

                <!-- Modal Cart -->
                <div class="modal fade" id="cart" role="dialog">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Data Transaksi</h4>
                            </div>
                            <div class="modal-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th>No</th>
                                                <th>Judul Buku</th>
                                                <th>Harga @Buku</th>
                                                <th>Quantity</th>
                                                <th>Subtotal</th>
                                                <th>Action</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr v-for="(transaksi, index) in transaction">
                                                <td>
                                                    {{index+1}}
                                                </td>
                                                <td>
                                                    {{transaksi.title}}
                                                </td>
                                                <td>
                                                    {{transaksi.harga}}
                                                </td>
                                                <td>
                                                    {{transaksi.quantity}}
                                                </td>
                                                <td>
                                                    {{transaksi.total}}
                                                </td>
                                                <td>
                                                    <a href="#" v-on:click="removeItem(transaksi._id)"> Remove</a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="4">
                                                    Total Pembayaran
                                                </td>
                                                <td>
                                                    {{total}}
                                                </td>
                                            </tr>
                                        </tbody>


                                    </table>
                                </div>


                            </div>
                            <div class=" modal-footer ">
                                <button type="button " class="btn btn-default" data-dismiss="modal">Continue Shopping</button>
                                <button type="button " class="btn btn-default" data-dismiss="modal" v-on:click="checkout()">Checkout</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Modal Sign In -->
                <div class="modal fade" id="signin" role="dialog">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Login</h4>
                            </div>
                            <div class="modal-body">
                                <form class="form-horizontal">
                                    <div class="form-group">
                                        <label class="control-label col-sm-2" for="username">Username:</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" id="username" placeholder="Enter Username">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-2" for="password">Password:</label>
                                        <div class="col-sm-8">
                                            <input type="password" class="form-control" id="password" placeholder="Enter password">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-offset-2 col-sm-8">
                                            <button type="submit" class="btn btn-default" @click="login">Log In</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Modal Register -->
                <div class="modal fade" id="register" role="dialog">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Register</h4>
                            </div>
                            <p>
                                {{err}}
                            </p>
                            <div class="modal-body">
                                <form class="form-horizontal">
                                    <div class="form-group">
                                        <label class="control-label col-sm-2" for="name">Name:</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" id="name" placeholder="Enter Name" v-model="name">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-2" for="username">Username:</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" id="username" placeholder="Enter Username" v-model="username">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-2" for="pwd">Password:</label>
                                        <div class="col-sm-8">
                                            <input type="password" class="form-control" id="pwd" placeholder="Enter password" v-model="password">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-offset-2 col-sm-8">
                                            <button type="submit" class="btn btn-default" v-on:click="register()">Register</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <div class="container-fluid text-center ">
            <div class="row content ">
                <div class="col-sm-9 ">
                    <div class="row ">
                        <div class="col-sm-6 " v-for="item in items ">
                            <div class="card ">
                                <h3 class="card-header ">{{item.title}}</h3>
                                <img v-bind:src=item.image_url alt="Card image">
                                <div class="card-body ">
                                    <p class="card-text ">
                                        <h5>
                                            Price : Rp. {{item.harga}}
                                        </h5>
                                    </p>
                                    <p class="card-text ">
                                        Author : {{item.author}}
                                    </p>
                                    <p class="card-text ">
                                        Category : {{item.category}}
                                    </p>
                                </div>
                                <div class="card-footer text-muted ">
                                    <button type="button " class="btn btn-secondary " v-on:click="addToCartShopping(item) ">Add to Cart</button>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
                <div class="col-sm-3 sidenav">
                    <h4>History</h4>
                    <div class="history">

                        <ol>
                            <li v-for="story in history">
                                Date : {{story.date}}

                                <ul>
                                    Book Lists :
                                    <li v-for="item in story.items">
                                        {{item.title}}
                                    </li>
                                </ul>
                                <ul>
                                    <h4>
                                        Total : {{story.total}}
                                    </h4>
                                </ul>
                            </li>
                        </ol>
                        <!-- <div class="detail" v-for="detail in story">
                            {{detail.customer}}
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="container-fluid text-center">
        <p>Kids' BookStore</p>
    </footer>
    </div>
    <script src="assets/js/admin.js "></script>
    <script src="assets/js/script.js "></script>
</body>

</html>